[submodule "vendor/liquid-dsp"]
	path = vendor/liquid-dsp
	url = https://github.com/jordanbs/liquid-dsp.git
[submodule "vendor/libfec"]
	path = vendor/libfec
	url = https://github.com/jordanbs/libfec.git
